<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <img src="https://i.pinimg.com/originals/3c/7a/f3/3c7af3c03a1fc34f679d6cb8d1af703a.png" width="280px" height="230px" class="brand_logo" alt="Logo">
                <span class="display-1 d-block">Error</span>
                <h1>Oops! </h1>

                <div class="mb-4 lead"> {{header}}</div>
                <a href="/login" class="btn btn-link">Back to Login Page</a>
            </div>
        </div>
    </div>
</div>
